body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.output {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  width: 75%;
  min-height: 100vh;

}

.active {
  border-left: 3px solid gold;
}

.nav-bar {
  padding-top: 10px;
  padding-left: 40px;
}

.nav-bar a {
  font-size: 1.3em;
}

.map {
  opacity: 0.5;
}

img {
  width: 120px;
  padding-top: 10px;
  
}

.logo {
  color: #282c34;
  font-size: 100px;

}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
li {
padding: 15px;
}

.form {
  text-align: center;
  margin-top: 20vh;
}

.addForm {
  margin-left: 150px ;
  width: 80%;
}

.largeFont {
  font-size: 1em;
}

.marginSpace {
  margin-bottom: 10px;
}